/* @font-face {
    font-family: Lora Regular;
    src: url(../fonts/lora/Lora-Regular.ttf);
}

@font-face {
    font-family: Lora Bold;
    src: url(../fonts/lora/Lora-Bold.ttf);
}

@font-face {
    font-family: Montserrat Bold;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
} */

html,body
{
    /* width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px; */
    overflow-x: hidden; 
    font-family: 'Roboto Slab';
}


body {
/* background-color: #f8f9fa; */
/* background-image: url("../img/banner.jpg"); */
}
.nav-item{
    color: black;
    /* font-weight: bold; */
    font-size: smaller;
    padding-right: 10px;
    margin-right: 40px;
}
.navbar-light .navbar-nav .nav-link {
    color: black
}
.dropdown:hover>.dropdown-menu {
    display: inline;
    /* mar gin-right: 0; */
  }
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }  
.navbaralign{margin-top: -42px;}

  .navbar-nav .dropdown-menu {
    /* background-color:#f8f9fa; */
    /* margin-right: 0; */
  }


  /* .navbar-nav {
    flex-flow: row nowrap;
  } */
/*   
  .navbar {
      flex-flow: row nowrap;
      display: inline-flex;
  } */

  .navbar {
    /* margin-top: 40px; */
    /* display: inline-block; */
}

header{
    /* height: 70px; */
}
.banner{
    width: auto;
    /* max-height: 109vh; */
    /* background-image: url("../img/hi.png"); */
    background-size: cover;
    /* background-size: contain; */
}
.call{
    margin-top: 13.25em;
    margin-bottom: 21.8em;
}
.border{
    /* border-width:0.1875rem !important; */
}
.bgimg{
    /* background-image: url("../img/banner.jpg"); */
}
.banneralign{
    margin-top: 119px;
}

.sectionspace{
    margin-top:3.25em;

}
.card-title{
    /* color: gray;  */
     font-weight: bolder;
        
    }

/* services section image*/
.serviceimg{
    width: 70px;
     height: 70px; 
     /* margin-left: 70px; */
     filter: grayscale(100%);
}

.serviceimg:hover{
    width: 110px;
     height: 110px; 
     /* margin-left: 70px; */
     filter: grayscale(0);
}
.digital{
    background-image: url("../img/digital.png");
}
    #whatwedo {
        background: url(../img/Mask\ Group\ 10.png);
        background-size: cover;
    }

    .service_page {
        background: url(../img/Mask\ Group\ 10.png);
        background-size: cover;
    }

    #whatwedo .card-body{

/* color: gray; */
/* font-weight: bolder; */
    
}
#whatwedo .card-text{font-size: 13px;}

.stat__count {
    font-family: "Montserrat Bold", sans-serif;
    line-height: 1;
    /* color: #FFFFFF; */
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stats h5 {
    font-family: "montserrat-semibold", sans-serif;
    /* margin-top: 1.8rem; */
    /* color: #ffffff; */
    /* font-size: 1.4rem; */
    font-weight: bold;
    line-height: 1.333;
    position: relative;
}
.stats__col {
    margin: 5.4rem 1.5em;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 1px solid black; */
}
.shadowed{
    box-shadow: 0 4px 6px -4px darkgray;
}

.clientsbg{
    background: linear-gradient(180deg, #E6E7E8 0%, rgba(230, 231, 232, 0) 100%);
border-radius: 20px;
padding-bottom: 43vh;
}
.testimonials{
    padding-top:6.25em;
    background-image: url("../img/TOTAL\ large.png");
    /* background-size: contain; */
    background-position: 100% 54%;
    /* padding-bottom: 15em; */
}
.testimonials p{
    /* color: gray;
    font-weight: bolder; */
    font-size: smaller;
}
.card-body .name{color: red;}
.morespace{
    margin-bottom: 8em;
}
#team{
    background-image: url("../img/bgtotal.png");
}
.ourteam{
    margin-top: 20vh;
    padding-bottom: 56vh;
}

#aboutus h1{
    font-weight: bold;
}
#aboutus{
    padding-top: 1.5em;
    /* color: white; */
    /* background-color: #525a61; */
    background-color: white;
    padding-bottom: 1em;
}

.display1{
    border-bottom: 0.5px solid white;
}
.about-desc {
    /* font-size: 2.4rem; */
    line-height: 1.75;
    text-align: justify;
    font-size: 1.4rem;
    padding: 0 75px;
    
}

.about-stats {
    margin-left: 25px!important;
}
/* .brands{background-color: #f8f9fa; */

.client-logo {
    /* max-height: 154px; */
    margin-left: 4.5rem;
    /* margin-right: 1px; */
}
.expertise{
    font-weight: bold;
    color: gray;
}
.mobile p{
    /* font-weight: bold;
    color: gray; */
}
.aldelia p{
    /* font-weight: bold; */
    /* color: gray; */
}
#project{
    background-color: #65abfb;
    margin-top:0;
    padding-bottom: 15em;
}
#secondSlide{
    /* margin-bottom: 45px; */
}
.contacts{
    margin-top:0;
    /* background-image: url("../img/contact.png"); */
    /* background-size: cover; */
    background-color:#e8e9ed;
    /* background-position: left; */
}
.greyout{
    background-color:#e8e9ed;
}
.coolborder{
    border-radius: 0.5rem;
    
    /* font-size: xx-small; */
}
.navbar-light .navbar-nav  .coolborder {
    /* color: red; */
    /* padding: 3px; */
    /* margin-top: 1em; */
}

.navbar-brand {
    margin-left: 107px;
}

section{
    /* min-height: 109vh; */
}
.logo{
    height: 89px;
    width: auto;
    margin: -29px -29px -29px -8px;
}
.cta{
    color: white;
    font-weight: bolder;
}
.custom{
    padding: 2.375rem;
    background-color:white;

}

.btncarousel{
    color: black;
    border:1px solid;
    /* padding: 6px 21px; */
}

.custom2{
    /* padding: 1rem; */
}
.resize{
    max-width: 145%;
}
@media only screen and (max-width: 750px) {
    .call{
        margin-top: auto;
        margin-bottom: auto;
    }
}
.link{
    color: inherit;
}
.makebold{
    font-weight: bolder;
}
.brownhead{
    font-weight: bold;
    /* font-size: 36px; */
    text-align: center;
    color: #8C2F2F;
}
.customcolor{
    color: white;
}




.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    /* content: "\f14f"; */
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
/* .footnav a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
} */
/* .footer-brand-logos a {
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
} */

.banner .carousel-item {
    height: 42.688em;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @media only screen and (max-width: 750px) {
    .banner .carousel-item {
        height: auto;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
}

/* services page */
.serveimg{
    max-height: 19.4em;
}

.gap{
    margin-top: 5em;
}

.imggap{
    margin-top: 2.25em;
}

.ext_btn {
    height: 60px!important;
    width: 400px;
}

.arrowfont{
    color: #dc3545;
    font-size: 50px;
}

.float_object {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#software {
color: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
}

.pink_bg {
    background-color: #861657;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);

}

.blue_bg {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
#button {
    display: inline-block;
    background-color: #dc3545;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  @media (min-width: 500px) {
    
    #button {
      margin: 30px;
    }
  }